.titulo-tema h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #AF1A2E;
    font-weight: bold;
}

.titulo-tema h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: bold;
}

.tema-detalles {
    width: 80%;
    /* Establece el ancho al 80% */
    margin: 0 auto;
}
