/* estilos_index.css */

/* Contenedores principales */
.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin-bottom: 40px;
}

.entity-container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entity-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.entity-container img {
    max-width: 80px;
    margin-bottom: 10px;
}

.entity-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.entity-container p {
    font-size: 3em;
    font-weight: bold;
    color: #AF1A2E;
}

.entity-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}

/* Bloque de áreas temáticas */
.areas-tematicas {
    width: 80%;
}

.areas-tematicas h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #AF1A2E;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.areas-tematicas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.area-tematica-container {
    text-align: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.area-tematica-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.area-tematica-container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.area-tematica-container p {
    font-size: 1.2em;
}

.area-link {
    display: block;
    text-decoration: none;
    color: inherit;
    height: 100%;
}


/* Contenedor del bloque "Destacados" */
.destacados-container {
    width: 80%; /* Ajusta el ancho al 80% */
    margin: 0 auto; /* Centra horizontalmente */
    padding: 20px 0;
}

/* Título del bloque "Destacados" */
.destacados-titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #AF1A2E;
    font-weight: bold;
}

.destacados-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

/* Estilo general para los th de la primera fila en las tablas dentro de "destacados-container" */
.destacados-container .tabla-grupos > thead > tr:first-child th {
    text-align: center !important;
    font-size: 1.5em !important;
    padding: 15px;
}

/* Mantener el estilo original para los th de otras filas */
.destacados-container .tabla-grupos > thead > tr:not(:first-child) th {
    text-align: left;
    font-size: 1em;
    padding: 12px 15px;
}

/* Contenedor introductorio */
.intro-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
}

/* Título del contenedor */
.intro-container h1 {
    font-size: 24px;
    color: #AF1A2E; /* Rojo oscuro */
    margin-bottom: 15px;
}

/* Texto del párrafo */
.intro-container p {
    font-size: 16px;
    color: #333; /* Gris oscuro */
    line-height: 1.6;
}

